<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet name="./css/default.css"/>
        <h:outputStylesheet name="./css/cssLayout.css"/>
        <title>Facelets Template</title>
    </h:head>

    <h:body>

        <ui:composition
            xmlns="http://www.w3.org/1999/xhtml"
            xmlns:f="http://java.sun.com/jsf/core"
            xmlns:h="http://java.sun.com/jsf/html"
            xmlns:ui="http://java.sun.com/jsf/facelets">

            <f:view>
                <h:form>
                    <h1><h:outputText value="Remove board"/></h1>

                    <br />
                        <h1><h:outputText value="List"/></h1>
                        <h:dataTable value="#{boardController.boards}" var="item">
                            
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="Name"/>
                                </f:facet>
                                <h:outputText value="#{item.name}"/>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="Category"/>
                                </f:facet>
                                <h:outputText value="#{item.category.name}"/>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="Created"/>
                                </f:facet>
                                <h:outputText value="#{item.created}">
                                    <f:convertDateTime pattern="MM/dd/yyyy" />
                                </h:outputText>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="Updated"/>
                                </f:facet>
                                <h:outputText value="#{item.updated}">
                                    <f:convertDateTime pattern="MM/dd/yyyy" />
                                </h:outputText>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="Selected"/>
                                </f:facet>
                                <h:selectBooleanCheckbox value="#{boardController.toRemove[item.id]}">
                                    
                                </h:selectBooleanCheckbox>
                            </h:column>
                        </h:dataTable>
                        <h:commandButton action="#{boardController.removeBoard}" value="Remove" />
                </h:form>
            </f:view>
        </ui:composition>

    </h:body>

</html>
