<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet name="./css/default.css"/>
        <h:outputStylesheet name="./css/cssLayout.css"/>
        <title>SupForum</title>
    </h:head>

    <h:body>

        <div id="top">

            <ui:insert name="headerForum">
                <ui:include src="header.xhtml" />
            </ui:insert>
            
        </div>

        <div id="content" class="center_content">
            <f:view>


                <h:form>
                    <h1><h:outputText value="Forum"/></h1>
                    <h:dataTable value="#{categoryController.categories}" var="category">
                        <h:column>
                            <ul>
                                <li><h:outputText value="#{category.name}"/></li>
                                
                                <h:form>
                                    <h:dataTable value="#{category.boards}" var="board">
                                        <h:column>
                                            <li>
                                                <ul>
                                                    <li><h:outputText value="#{board.name}"/></li>
                                                </ul>
                                            </li>
                                        </h:column>
                                    </h:dataTable>
                                </h:form>
                            </ul>
                        </h:column>
                    </h:dataTable>
                </h:form>
            </f:view>

        </div>

        <div id="bottom">
            <ui:insert name="statsForum">
                <ui:include src="../footer.xhtml" />
            </ui:insert>
        </div>

    </h:body>

</html>
