<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet name="./css/default.css"/>
        <h:outputStylesheet name="./css/cssLayout.css"/>
        <title>Facelets Template</title>
    </h:head>

    <h:body>

        <ui:composition
            xmlns="http://www.w3.org/1999/xhtml"
            xmlns:f="http://java.sun.com/jsf/core"
            xmlns:h="http://java.sun.com/jsf/html"
            xmlns:ui="http://java.sun.com/jsf/facelets"
            xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

            <f:view>
                <h:form>
                    <h:link value="Forum" outcome="#{forumController.navigationBean.redirectToAuthForum()}" />
                    <c:if test="#{loginController.user.role == 'ADMINISTRATOR'}">
                        <h:link value="Administration" outcome="#{forumController.navigationBean.redirectToBackOffice()}" />
                    </c:if>
                    <h:link value="Profile" outcome="#{forumController.navigationBean.redirectToProfile(loginController.user.id)}" />
                    <h:commandLink action="#{logoutController.logout()}" value="Log out"/>
                </h:form>
            </f:view>
                
        </ui:composition>

    </h:body>

</html>
