<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet name="./css/default.css"/>
        <h:outputStylesheet name="./css/cssLayout.css"/>
        <title>Facelets Template</title>
    </h:head>

    <h:body>

        <div id="top">
            <ui:insert name="headerForum">
                <ui:include src="header.xhtml" />
            </ui:insert>
        </div>

        <div id="content" class="center_content">
            <h1><h:outputText value="Profile"/></h1>
            Username : #{loginController.user.username}<br />
            Email : #{loginController.user.email}<br />
            Created : #{loginController.user.created}<br/>
            Role : #{loginController.user.role}<br />
            Messages : #{loginController.user.messages.size()}<br />
        </div>

        <div id="bottom">
            <ui:insert name="statsForum">
                <ui:include src="../footer.xhtml" />
            </ui:insert>
        </div>

    </h:body>

</html>
