<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet name="./css/default.css"/>
        <h:outputStylesheet name="./css/cssLayout.css"/>
        <title>Facelets Template</title>
    </h:head>

    <h:body>

        <div id="top">
            
            <h:form>
                <h:link value="Forum" outcome="#{backOfficeController.navigationBean.redirectToAuthForum()}" />
                <c:if test="#{loginController.user.role == 'ADMINISTRATOR'}">
                    <h:link value="Administration" outcome="#{backOfficeController.navigationBean.redirectToBackOffice()}" />
                </c:if>
                <h:commandLink action="#{logoutController.logout()}" value="Log out"/>
            </h:form>
        </div>

        <div id="content" class="center_content">
            <h:link value="Category Management" outcome="#{backOfficeController.navigationBean.redirectToCategoryManagement()}" /><br />
            <h:link value="Board Management" outcome="#{backOfficeController.navigationBean.redirectToBoardManagement()}" /><br />
            <h:link value="User Management" outcome="#{backOfficeController.navigationBean.redirectToUserManagement()}" />
        </div>

        <div id="bottom">
            <ui:insert name="bottom">Bottom</ui:insert>
        </div>

    </h:body>

</html>
