<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet name="./css/default.css"/>
        <h:outputStylesheet name="./css/cssLayout.css"/>
        <title>Facelets Template</title>
    </h:head>

    <h:body>

        <ui:composition
            xmlns="http://www.w3.org/1999/xhtml"
            xmlns:f="http://java.sun.com/jsf/core"
            xmlns:h="http://java.sun.com/jsf/html"
            xmlns:ui="http://java.sun.com/jsf/facelets">

            <f:view>
                <h:form>
                    <h1><h:outputText value="New Board"/></h1>
                    <h:panelGrid columns="2">
                        <h:outputLabel value="Name:" for="name" />
                        <h:inputText id="name" value="#{boardController.board.name}" title="Name" required="true" requiredMessage="The Name field is required."/>
                        <h:outputLabel value="Description:" for="description" />
                        <h:inputText id="description" value="#{boardController.board.description}" title="Description" required="true" requiredMessage="The Description field is required."/>
                        <h:outputLabel value="Category:" for="category" />
                        <h:selectOneMenu id="category" value="#{boardController.board.category}" converter="categoryConverter" title="Category" required="true" requiredMessage="The Category field is required.">
                            <!-- TODO: update below reference to list of available items-->
                            <f:selectItems value="#{categoryController.categories}" var="category" itemValue="#{category}" itemLabel="#{category.name}"/>
                        </h:selectOneMenu>
                        <h:commandButton action="#{boardController.newBoard}" value="Submit" />
                    </h:panelGrid>
                </h:form>
            </f:view> 
        </ui:composition>

    </h:body>

</html>
