<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet name="./css/default.css"/>
        <h:outputStylesheet name="./css/cssLayout.css"/>
        <title>Facelets Template</title>
    </h:head>

    <h:body>

        <ui:composition
            xmlns="http://www.w3.org/1999/xhtml"
            xmlns:f="http://java.sun.com/jsf/core"
            xmlns:h="http://java.sun.com/jsf/html"
            xmlns:ui="http://java.sun.com/jsf/facelets">

            <f:view>
                <h:form>
                    <h1><h:outputText value="New category"/></h1>
                    <h:panelGrid columns="2">
                        <h:outputLabel value="Name:" for="name" />
                        <h:inputText id="name" value="#{categoryController.category.name}" title="Name" required="true" requiredMessage="The Name field is required."/>
                    </h:panelGrid>
                    <h:commandButton action="#{categoryController.newCategory}" value="Submit" />
                </h:form>
            </f:view>
               
        </ui:composition>

    </h:body>

</html>
