<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet name="./css/default.css"/>
        <h:outputStylesheet name="./css/cssLayout.css"/>
        <title>Facelets Template</title>
        <f:event type="preRenderView" listener="#{loginController.checkUser}" />
    </h:head>

    <h:body>

        <div id="top">
            <ui:insert name="header">
                <ui:include src="header.xhtml" />
            </ui:insert>
        </div>

        <div id="content" class="center_content">
            <h:form>
                <p>
                    <h:panelGroup>
                        <h:outputLabel id="usernameLabel" for="username" value="Username : " />
                        <h:inputText id="username" value="#{loginController.user.username}" required="true" /><br />
                        
                        <h:outputLabel id="passwordLabel" for="password" value="Password : " />
                        <h:inputSecret id="password" value="#{loginController.user.password}" required="true" />
                        <h:commandButton action="#{loginController.login}" value="Submit" />
                    </h:panelGroup>
                </p>
            </h:form>
        </div>

        <div id="bottom">
            <ui:insert name="statsForum">
                <ui:include src="footer.xhtml" />
            </ui:insert>
        </div>

    </h:body>

</html>
