<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet name="./css/default.css"/>
        <h:outputStylesheet name="./css/cssLayout.css"/>
        <title>Supinfo</title>
        <f:event type="preRenderView" listener="#{loginController.checkUser}" />
    </h:head>

    <h:body>

        <div id="top">
            <ui:insert name="header">
                <ui:include src="header.xhtml" />
            </ui:insert>
        </div>

        <div id="content" class="center_content">
            <f:view>


                <h:form>
                    <h1><h:outputText value="Register"/></h1>
                    <h:panelGrid columns="2">
                        <h:outputLabel value="Username:" for="username" />
                        <h:inputText id="username" value="#{registerController.user.username}" title="Username" required="true" requiredMessage="The Username field is required."/>
                        <h:outputLabel value="Email:" for="email" />
                        <h:inputText id="email" value="#{registerController.user.email}" title="Email" required="true" requiredMessage="The Email field is required." validator="emailValidator"/>
                        <h:outputLabel value="Password:" for="password" />
                        <h:inputSecret id="password" value="#{registerController.user.password}" title="Password" required="true" requiredMessage="The Password field is required."/>                      
                        <h:commandButton action="#{registerController.register}" value="Submit" />
                    </h:panelGrid>
                </h:form>
            </f:view>

        </div>

        <div id="bottom">
            <ui:insert name="statsForum">
                <ui:include src="footer.xhtml" />
            </ui:insert>
        </div>

    </h:body>

</html>
